# Copy this file to .oci.env and set real values.
# .oci.env is ignored by git.

OCI_TENANCY_OCID='ocid1.tenancy.oc1...'
OCI_USER_OCID='ocid1.user.oc1...'
OCI_FINGERPRINT='aa:bb:cc:dd:...'
OCI_REGION='eu-frankfurt-1'
OCI_PRIVATE_KEY_PATH='/opt/oci/.oci_api_key.pem'
